.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.cart-item img{
 padding-left: 10px;
}

.cart-item-info{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    width: 320px;
}

.cart-item-price{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.cart-item-buttons{
    display: flex;
    justify-content: space-between;
}
.heading{
    font-weight: 600;
}

@media(max-width:450px){
    .cart-item-info h5{
        font-size: 1.2rem;
    }
    .cart-item-price{
        font-size: 0.9rem;
    }
}