.cart{
    margin: 10px;
    padding: 20px;
    max-width: 480px;
    min-width: 380px;
}
.cart-header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background: #fff;
    z-index: 100;
    margin-top: 30px;
    padding: 10px 0px;
    font-size: 1.5rem;
    font-weight: 700;
}
.no-item-message{
    display: flex;
    justify-content: center;
}
.no-item-message p{
    margin-top: 50px;
}
.cart-items{
    margin-top: 40px;
}

@media(max-width: 450px){
    .cart{
        width: 100vw;
        min-width: 250px;
    }
    .cart-header h3{
        font-size: 1.3rem;
    }
}